<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/css/signin.css}" href="../static/css/signin.css">
  <title>Update Password</title>
  <link rel="icon" href ="../static/images/icon.png" th:href="@{/images/icon.png}" type="image/png">
</head>

<body class="text-center">

  <form class="form-signin" action="#" th:object=${passwordUpdate} th:action="@{/profile/updatePassword}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Update Password</h1>
    <label for="inputOldPassword" class="sr-only">Old Password</label>
    <input type="password" required th:field="*{oldPassword}" id="inputOldPassword" class="form-control"
      placeholder="Old Password" autofocus>
    <span class="error" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Old Password Error</span>
    <br />
    <label for="inputNewPassword" class="sr-only">New Password</label>
    <input type="password" required th:field=*{newPassword} id="inputNewPassword" class="form-control" placeholder="New Password"
      autofocus>
      <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</span>
    <br />
    <label for="inputConfirmPassword" class="sr-only">Confirm New Password</label>
    <input type="password" required th:field="*{confirmPassword}" id="inputConfirmPassword" class="form-control" placeholder="Confirm New Password" >
    <span class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Repeat Password Error</span>

    <br />
    <button class="btn btn-lg btn-danger btn-block" type="submit">Update</button>
    <button class="btn btn-lg btn-success btn-block" type="reset">Reset</button>
    <hr/>
    <h2></h2>
    <a href="#" th:href="@{/}" class="btn btn-lg btn-primary btn-block" type="reset">Go Home</a>
    
  </form>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>